* {
  font-family: "Arimo", sans-serif;
  font-family: "Raleway", sans-serif;
}

/* index */

/* header */
#logo {
  font-weight: 600;
  color: #2f2a26;
  padding: 5px;
  margin: 0;
}

ul {
  list-style: none;
  display: flex;
}

li {
  margin-left: 150px;
}

header {
  display: flex;
  align-items: center;
  background-color: #d8cbbd;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.homepage,
.mywork,
.contact {
  text-align: center;
  color: black;
  margin-left: 4rem;
}

a {
  text-decoration: none;
}

a:hover {
  color: #2f2a26;
  text-decoration: underline;
}

/* main */

@keyframes animation {
  0% {
    transform: translateX(-10rem);
  }

  100% {
    transform: translateX(0);
  }

  75% {
    transform: translateX(10rem);
  }

  100% {
    transform: translateX(0rem);
  }
}

.animation {
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  animation: animation 3s ease-in 1;
}

body {
  background-color: #ffffff;
}

section {
  display: inline-flex;
  gap: 2rem;
}

.me-1 {
  width: 100%;
}

.picture-vasilena {
  width: 60%;
}

.personal-info {
  width: fit-content;
  font-weight: 500;
}

/* footer */
footer {
  font-weight: 600;
}

hr {
  border-top: 1rem;
  border-color: black;
}

/* contact page */

.container {
  background-color: #f0eae2;
}

input {
  margin-bottom: 10px;
  margin-left: 23%;
  margin-right: 23%;
}

form {
  padding-bottom: 5%;
}

.contact-content {
  margin: 20px 40% 20px 40%;
}

button {
  margin-left: 40%;
  margin-right: 40%;
}

label {
  margin-left: 23%;
  margin-right: 23%;
}

h2 {
  font-weight: 600;
  text-align: center;
  margin-top: 1em;
}

#message {
  height: 42.4px;
}

/* my work page */

img {
  width: 100%;
}

.works {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 5rem;
}

@media (max-width: 800px) {
  .works {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media (max-width: 400px) {
  .works {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
  }
}

.item {
  display: inline-block;
}

/* coffee table book page*/
.designs {
  width: 90%;
}

.design {
  display: flex;
  justify-content: center;
}

.mockup-designs {
  display: inline-flex;
  margin-bottom: 3rem;
  margin-top: 1rem;
}

.caption {
  text-decoration: none;
  color: black;
}
